.Header {
  text-align: center;
}
.Header img {
  width: 50%;
}
.Header .NavBar {
  background: #000;
}
.Header .NavBar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
.Header .NavBar a:hover {
  background: grey;
}
